# Archivos específicos que no quiero en GitHub
get-pip.py
setup.py

# Entorno virtual
.venv/
env/

# Archivos de distribución/empaquetado de Python
*.egg-info/

# Archivos de Python compilados (común que se generen)
__pycache__/
*.pyc